HelloWorld/proj.win32/Debug.win32/
CopyOnly/proj.win32/Debug.win32/
exp3/proj.win32/Debug.win32/
exp3/cocos2d/cocos/2d/Debug.win32/
CopyOnly/cocos2d/cocos/2d/Debug.win32/
HelloWorld/cocos2d/cocos/2d/Debug.win32/
HelloWorld/proj.win32/.vs/
CopyOnly/proj.win32/.vs/
exp3/proj.win32/.vs/
exp3/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
HelloWorld/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
CopyOnly/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
exp3/cocos2d/external/bullet/proj.win32/Debug.win32/
HelloWorld/cocos2d/external/bullet/proj.win32/Debug.win32/
CopyOnly/cocos2d/external/bullet/proj.win32/Debug.win32/